# ShadowKit – Git Ignore
logs/
*.log
*.bak
*.dmp
*.tmp
best_dns_cache.json
code_inspection_report.txt
ShadowKitGUI.ps1.bak
ShadowController.ps1.bak
diagnostic_*.txt
ShadowKit_Source_Dump.md
vbs_test.txt

restorepoint.json
baseline.json
baseline_user.json
